<div class="animated fadeIn row main ml-0">
    <div class="container mt-5">
        <div class="row bg-primary d-flex justify-content-between p-4">
            <div class="col col-12 col-md-9">
                <h3 class="text-light">FORMULARIO DE REGISTRO</h3>
            </div>
            <div class="col col-12 col-md-3">
                <a [routerLink]="['../listar']" routerLinkActive="router-link-active" class="btn btn-outline-light btn-sm btn-block">Regresar</a>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 box-shadow p-4 bg-light">
                <form [formGroup]="form" (ngSubmit)="register()">
                    <div class="row ">
                        <div class="col-12 col-sm-12 col-md-6 ">
                            <div class="form-group ">
                                <label class="text-primary fz-bold " for="name">Nombres</label>
                                <input type="text" class="form-control bg-dark text-light" placeholder="Ingrese nombres" formControlName="nombres">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 ">
                            <div class="form-group ">
                                <label class="text-primary fz-bold" for="name">Apellidos</label>
                                <input type="text" class="form-control bg-dark text-light" placeholder="Ingrese apellidos" formControlName="apellidos">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 ">
                            <div class="form-group ">
                                <label class="text-primary fz-bold" for="name">Correo</label>
                                <input type="email" class="form-control bg-dark text-light" placeholder="Ingrese correo" formControlName="correo">
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-6 ">
                            <div class="form-group ">
                                <label class="text-primary fz-bold" for="name">Foto</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file">
                                    <label class="custom-file-label bg-dark text-light" for="file">Seleccionar archivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-primary fz-bold mb-sm-2" for="name">Tipo de documento</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="check1" checked="" value="1">
                                    <label class="custom-control-label text-primary" for="check1">Cedula de ciudadania</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="check2" value="2">
                                    <label class="custom-control-label text-primary" for="check2">Tarjeta de identidad</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-primary fz-bold" for="name">Documento</label>
                                <input type="text" class="form-control bg-dark text-light" placeholder="Ingrese documento">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-primary fz-bold" for="name">Seleccione el cargo</label>
                                <select class="form-control bg-dark text-light">
                                    <option value="" hidden>seleccionar</option>
                                    <option value="1">Estudiante</option>
                                    <option value="2">Docente</option>
                                    <option value="3">Coordinador</option>
                                    <option value="4">Registro y control</option>
                                    <option value="5">Director</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-primary fz-bold" for="name">Contraseña</label>
                                <input type="password " class="form-control bg-dark text-light" placeholder="Ingrese contraseña" id="correo">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-primary fz-bold" for="name">Confirmar contraseña</label>
                                <input type="password" class="form-control bg-dark text-light " placeholder="Ingrese nuevamente la contraseña" id="correo">
                            </div>
                        </div> -->
                        <div class="col-12 offset-3">
                            <input type="submit" class="btn btn-info w-50" value="Registrar">
                        </div>
                    </div>
                </form>
                {{ form.valid }}
            </div>
        </div>
    </div>
</div>