<div class="animated fadeIn row main ml-0">
    <div class="container mt-5">
        <table class="table table-bordered table-sm">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo Documento</th>
                    <th>Documento</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody class="table-info">
                <tr class="text-center text-dark" *ngFor="let user of Users">
                    <td>{{user['nombre']}}</td>
                    <td>{{user['apellido']}}</td>
                    <td>{{user['tipoDoc']}}</td>
                    <td>{{user['documento']}}</td>
                    <td>{{user['correo']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>