<div class="container mt-5 pb-80">
    <div class="bg-primary d-flex justify-content-between p-4 row">
        <div class="col col-12 col-md-9">
            <h3 class="text-light">Lista de usuarios</h3>
        </div>
        <div class="col col-12 col-md-3">
            <a [routerLink]="['../nuevo']" routerLinkActive="router-link-active"
                class="btn btn-outline-light btn-sm btn-block">Crear Usuario</a>
        </div>
    </div>
    <div class="bg-light box-shadow mt-5 row">
        <div class="col-12 mt-2">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>
        <div class="col-12">
    
            <mat-table [dataSource]="dataSource" matSort>
                

                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> # </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index"> {{ i + 1}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Names">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Nombres y apellidos </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NomColaborador}} {{row.ApeColaborador}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="Correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Correo </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.CorreoColaborador}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="usuario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Usuario </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Usuario}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="Documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Documento </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TipDocColaborador}} - {{row.DocumentoColaborador}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Cargo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Cargo </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NomRol}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="Opciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="fz-15 text-light"> Opciones </mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <a [routerLink]="['../editar', row.IdUsuario]" routerLinkActive="router-link-active" (click)="saveUserStorage(row.IdUsuario)" class="btn btn-sm bg-success text-dark"><i class="fas fa-edit fz-20"></i></a> 
                        <button (click)="deleteUser(row.IdUsuario, row.Usuario)" class="btn btn-sm bg-danger text-dark ml-4"><i class="fas fa-trash-alt fz-20"></i></button>
                    </mat-cell>
                </ng-container>    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>

</div>