<div class="container mt-5 pb-80">
    <div class="bg-primary d-flex justify-content-between p-4 row">
        <div class="col col-12 col-md-9">
            <h3 class="text-light">Lista de usuarios</h3>
        </div>
        <div class="col col-12 col-md-3">
            <a [routerLink]="['../nuevo']" routerLinkActive="router-link-active"
                class="btn btn-outline-light btn-sm btn-block">Crear Usuario</a>
        </div>
    </div>
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="names">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y apellidos </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.NomColaborador}}  {{row.ApeColaborador}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Correo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.CorreoColaborador}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Documento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.DocumentoColaborador}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Editar">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                <mat-cell *matCellDef="let row"> <i class="fas fa-edit"></i> </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>