<div class="container">
    <div class="row">
        <div class="bg-info card col col-md-8 col-sm-12 offset-md-2 text-white mt-5">
            <div class="card-header">Registre su asistencia</div>
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quis expedita illum accusantium a provident quidem laudantium est, ducimus vel totam fugiat id voluptas praesentium non quos molestias ipsam eius! Illo, illum consectetur.
                    Rem ipsam fugit maxime iure dolorem dicta unde asperiores aliquam animi quasi. Officiis eius obcaecati dicta consequatur.</p>
            </div>
        </div>
    </div>
</div>