/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Open Sans', sans-serif !important;
    overflow: hidden;
    background-image: url('assets/img/grey_wash_wall.png');
    background-repeat: repeat;
}

.box-login {
    height: 85vh;
}

.bg-image {
    position: absolute;
    vertical-align: top;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
}

.fz-bold {
    font-weight: bold;
}

.fz-20 {
    font-size: 20px;
}

.fz-15 {
    font-size: 15px;
}

.pb-80 {
    padding-bottom: 80px;
}

.box-shadow {
    box-shadow: 0 0 15px #2C3E50;
}

.custom-file-label {
    cursor: pointer;
    &:after {
        content: 'Buscar' !important;
        border: 1px solid #343a40;
        color: #343a40;
        cursor: pointer;
    }
}

.form-check-label {
    cursor: pointer;
}

.hide {
    display: none;
}

.disabled {
    cursor: not-allowed !important;
}

.box-fixed {
    min-height: 230px;
    max-height: 230px;
}

.btn {
    cursor: pointer;
}

footer {
    color: #fff;
    bottom: 0px;
    width: 100%;
    display: none;
}