/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Open Sans', sans-serif !important;
    overflow: hidden;
    background-image: url('assets/img/grey_wash_wall.png');
    background-repeat: repeat;
}

.box-login {
    height: 85vh;
}

.bg-image {
    position: absolute;
    vertical-align: top;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
}

.fz-bold {
    font-weight: bold;
}

.fz-20 {
    font-size: 20px;
}

.fz-15 {
    font-size: 15px;
}

.pb-80 {
    padding-bottom: 80px;
}

.box-shadow {
    box-shadow: 0 0 15px #2C3E50;
}

.custom-file-label {
    cursor: pointer;
    &:after {
        content: 'Buscar' !important;
        border: 1px solid #343a40;
        color: #343a40;
        cursor: pointer;
    }
}

.form-check-label {
    cursor: pointer;
}

.hide {
    display: none;
}

.disabled {
    cursor: not-allowed !important;
}

.box-fixed {
    min-height: 230px;
    max-height: 230px;
}

.btn {
    cursor: pointer;
}

mat-header-row {
    background: #343a40 ;
}
.cdk-column-Id {
    flex: 0 0 65px;
}
.cdk-column-Correo {
    flex: 0 0 200px;
}
.cdk-column-usuario {
    flex: 0 0 120px;
}
.cdk-column-Cargo {
    flex: 0 0 120px;
}
.mat-row {
    &:hover {
        background: rgba( #1F9BCF, 0.35);
        box-shadow: 0px 0px 10px 0px rgba(#000, 0.3);
    }
}
footer {
    color: #fff;
    bottom: 0px;
    width: 100%;
    display: none;
}